* {
  box-sizing: border-box;
  background-color: white;
  overflow: hidden;
}
.root:after {
  content: "";
  display: table;
  clear: both;
}

.left {
  border-right: 1px solid black;
  width: 25%;
  float: left;
  padding: 10px;
  height: 657px;
}

.right {
  width: 25%;
  float: left;
  height: 657px;
}
.home {
  width: 50%;
  float: left;
  padding: 10px;
  height: 657px;
  border-right: 1px solid black;
}
