.ho {
  display: inline-flex;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.h {
  font-size: 20px;
  float: left;
  padding-left: 7px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.border {
  border-top: 1px solid black;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.image {
  width: 12%;
  float: left;
  border-right: 1px solid black;
  height: 50px;
}
.post {
  width: 88%;
  float: right;
  height: 5px;
  border-right: 1px solid black;
}
