.ho {
  display: inline-flex;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.h {
  font-size: 20px;
  float: left;
  padding-left: 7px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.border {
  border-top: 1px solid black;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.imageh {
  width: 12%;
  float: left;
  border-right: 1px solid black;
  height: 75px;
}
.post {
  width: 88%;
  padding-left: 10px;
  padding-top: 25px;
}
.imageh1 {
  border-radius: 50%;
  width: 50px;
  margin-left: 9px;
  margin-top: 9px;
}

.senditems {
  width: 25px;
}
.sendimage {
  color: rgb(79, 79, 197);
}
