.search {
  position: relative;
  text-align: center;
}
.input {
  padding: 20px;
  margin-top: 10px;
  margin-right: 60px;
  border-radius: 1.625rem;
}
.serach input {
  text-indent: 30px;
  font-family: FontAwesome, sans-serif;
}
.search .fa-search {
  position: absolute;
  top: 28px;
  left: 65%;
  font-size: 15px;
}
input {
  width: 350px;
  padding: 5px;
  margin: 15px;
  height: 25px;
  outline: none;
}
placeholder {
  color: red;
}
.box {
  border-radius: 16px;
  border: 1px solid black;
  margin-left: 15px;
  width: 350px;
  height: 400px;
}
.a {
  padding: 5px;
  margin-left: 3px;
  font-size: 18px;
}
.a1 {
  display: inline;
}
#a12 {
  margin-left: 200px;
}
